.advantages,
.slogan {
  min-width: 280px;
  padding: 0;
}

.slogan-desc,
.slogan-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 320px;
  margin: auto;
}

.slogan h3,
.slogan .text {
  color: #ffffff;
}

.slogan {
  background-color: #81b3d2;
}

.slogan--bg {
  background-color: #eeeeee;
}

.slogan--bg h3,
.slogan--bg .text {
  color: #333333;
}

.slogan__img {
  margin: 0;
}

.advantages-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  width: 280px;
  margin: auto;
}

.advantages-ico {
  margin-top: 30px;
}

.advantages-ico path,
.advantages-ico polygon,
.advantages-ico circle,
.advantages-ico rect {
  fill: #81b3d2;
}

.advantages h3,
.advantages .text {
  text-align: left;
  margin-left: 10px;
  margin-right: 40px;
}


@media (min-width: $tablet-width) {
  .advantages,
  .slogan {
    min-width: 768px;
    padding: 0;
  }

  .advantages .wrap,
  .slogan--bg .wrap {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    width: 100%;
    margin: 0 auto;
  }

  .slogan .wrap {
    height: 260px;
  }


  .slogan-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    margin: 0;
  }

  .slogan-desc {
    width: 33%;

    padding: 0 30px;
    margin: auto;
  }

  .slogan__img {
    width: 67%;
  }

/* Ограничение заголовка по ширине. При изменении заголовка может потребоваться увеличение значений */
  .slogan--bg .slogan-desc {
    width: 135px;
    margin: 0;
  }

  .advantages .wrap .advantages-item:nth-child(1) {
    order: 1;
  }

  .advantages .wrap .advantages-item:nth-child(2) {
    order: 3;
  }

  .advantages .wrap .advantages-item:nth-child(3) {
    order: 2;
  }

  .advantages-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 33.333333%;
    margin: 0;
    padding: 0;
    height: 330px;
  }

  .advantages h3,
  .advantages .text {
    text-align: center;
    padding: 20px;
    margin: auto;
  }

  .advantages-ico .house {
    width: 75px;
    height: 72px;
  }

  .advantages-ico .burger {
    width: 77px;
    height: 68px;
  }

  .advantages-ico .gift {
    width: 64px;
    height: 75px;
  }
}


@media (min-width: $desktop-width) {
  .advantages,
  .slogan {
    width: 1200px;

    margin: 0 auto;
  }

  .slogan--bg .text {
    width: 280px;
    margin: 0;
  }
}
