.banner-page {
  background-color: #ffffff;
}

.banner-page .wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  height: 160px;

  background-color: #ffffff;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.banner-page__title {
  margin: auto;
  margin-top: 50px;
}


@media (min-width: $tablet-width) {
  .banner-page {
    min-width: 768px;
    height: 290px;
    margin: 0;
    margin-bottom: 35px;
  }

  .banner-page .wrap {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: cover;
    height: 290px;
  }

  .banner-page__title {
    width: 460px;
    height: 80px;
    margin-top: 95px;
  }
}

@media (min-width: $desktop-width) {
  .banner-page {
    max-width: 1200px;
    margin-bottom: 85px;
  }

  .banner-page .wrap {
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }
}
