.banner-page {
  margin-top: 56px;

  height: 160px;
  background-color: #ffffff;
}

.banner-page .wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 100%;

  background-color: #ffffff;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.banner-page__title {
  margin: 50px auto;
}



@media (min-width: $tablet-width) {
  .banner-page {
    min-width: 768px;
    height: 290px;
    margin: 0;
  }

  .banner-page .wrap {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: cover;
  }

  .banner-page__title {
    width: 460px;
    height: 80px;
    margin: 95px auto;
  }
}

@media (min-width: $desktop-width) {
  .banner-page {
    max-width: 1200px;
    height: 300px;
  }

  .banner-page .wrap {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: cover;
  }
}
