.feedback {
  margin: 0;
  padding: 0 20px;
  padding-bottom: 75px;

  min-width: 320px;
}

.feedback__line {
  margin: 0;
  margin-top: 20px;
  padding: 0;

  height: 1px;
  width: 100%;
  background-color: #e5e5e5;
  border: 0;
}

.feedback__item {
  margin: 0;
  padding-bottom: 20px;

  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;

  font-size: 14px;
  line-height: 21px;

  text-align: left;
}

.feedback-form input[type="text"],
.feedback-form textarea[type="text"],
.feedback-form input[type="tel"],
.feedback-form input[type="email"] {
  box-sizing: border-box;
  padding: 16px 20px;

  height: 58px;

  font: inherit;
  font-size: 18px;
  font-weight: 700;
  color: #000000;

  background-color: #f2f2f2;
  border: 0;
}

.feedback-form input[type="text"] {
  margin-left: 10px;
}

.feedback-form textarea[type="text"] {
  min-width: 280px;
  min-height: 160px;
}

.feedback-form input[type="tel"],
.feedback-form input[type="email"] {
  margin-left: 0;
  margin-top: 10px;
}

.feedback-form input[type="text"]:hover,
.feedback-form textarea[type="text"]:hover,
.feedback-form input[type="tel"]:hover,
.feedback-form input[type="email"]:hover {
  background-color: #e5e5e5;
}

.feedback-form input[type="text"]:focus,
.feedback-form textarea[type="text"]:focus,
.feedback-form input[type="tel"]:focus,
.feedback-form input[type="email"]:focus {
  background-color: #ffffff;
  border: 2px #e5e5e5 solid;
  outline: none;
}

.feedback-form label[for="feedback-phone"],
.feedback-form label[for="feedback-email"] {
  margin-left: 20px;
  margin-right: 20px;
}

.feedback-form input::placeholder,
.feedback-form textarea::placeholder {
  color: #000000;
}

.feedback__basic-info .feedback__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feedback__basic-info .feedback__item input[type="text"] {
  flex-grow: 1;
}

.phone-field,
.email-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;

  margin: 0;
  padding: 0;

  height: 58px;
}

.tel-icon,
.email-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 10px;

  width: 58px;
  height: 58px;

  background-color: #e6e6e6;
}

.feedback__checkbox,
.feedback__radio {
  margin-left: 0;
  margin-top: 50px;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: none;

  cursor: pointer;
}

.feedback__radio input[type="radio"],
.feedback__checkbox input[type="checkbox"] {
  opacity: 0;
}

.feedback__radio label,
.feedback__checkbox label {
  position: relative;
  display: inline-block;

  padding-left: 75px;
  line-height: 50px;

  cursor: pointer;
}

.feedback__radio label::before,
.feedback__radio label::after,
.feedback__checkbox label::before,
.feedback__checkbox label::after {
  content: " ";
  position: absolute;
  display: inline-block;
}

.feedback__radio label::before,
.feedback__checkbox label::before {
  left: 0;
  top: -5px;
  width: 55px;
  height: 55px;
  background-color: #f2f2f2;
}

.feedback__radio label::before {
  border-radius: 50%;
}

.feedback__checkbox label::before {
  border-radius: 10%;
}

.feedback__radio label::after {
  left: 17px;
  top: 12px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #333333;
}

.feedback__checkbox label::after {
  left: 16px;
  top: 10px;
  width: 20px;
  height: 12px;
  border-left: 4px solid #333333;
  border-bottom: 4px solid #333333;
  transform: rotate(-45deg);
}

.feedback__radio input[type="radio"] + label::after,
.feedback__checkbox input[type="checkbox"] + label::after {
  content: none;
}

.feedback__radio input[type="radio"]:checked + label::after,
.feedback__checkbox input[type="checkbox"]:checked + label::after {
  content: " ";
}

.feedback__radio input[type="radio"]:hover + label::before,
.feedback__checkbox input[type="checkbox"]:hover + label::before {
  background-color: #e5e5e5;
}

.feedback__radio input[type="radio"]:active + label::before,
.feedback__checkbox input[type="checkbox"]:active + label::before {
  background-color: #d5d5d5;
}

.feedback__radio input[type="radio"]:active + label::after {
  background-color: rgba(0, 0, 0, 0.3);
}

.feedback__checkbox input[type="checkbox"]:active + label::after {
  border-left: 4px solid rgba(0, 0, 0, 0.3);
  border-bottom: 4px solid rgba(0, 0, 0, 0.3);
}

.feedback__button {
  display: inline-block;
  width: 280px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 40px;
  padding: 16px 30px;

  font-size: 21px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;

  background-color: #81b3d2;
  border: none;

  &:hover,
  &:focus {
    background-color: #669ec1;
    outline: none;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
    outline: none;
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

.feedback__rules .text {
  height: 0;
}

@media (min-width: $tablet-width) {
  .feedback {
    margin: 0 auto;
    padding: 0;
    padding-bottom: 75px;

    width: 648px;
  }

  .feedback__line {
    width: 648px;
    margin-top: 70px;
  }

  .feedback h2 {
    width: 280px;

    margin: 0 auto;
    padding-top: 55px;
    padding-bottom: 30px;

    font-size: 21px;

    background-size: auto;
    background-color: #ffffff;
  }

  .feedback-form textarea[type="text"] {
    width: 648px;
    min-height: 160px;
    margin: 0;
  }

  .feedback-form input[type="tel"],
  .feedback-form input[type="email"] {
    margin-top: 10px;

    width: 648px;
  }

  .feedback__contact-info {
    width: 648px;
  }

  .feedback__visited-places {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;

    width: 500px;
    padding-left: 60px;
  }

  .feedback__checkbox {
    padding-left: 30px;
  }

  .feedback__button {
    width: 324px;

    font-size: 21px;
    margin: 0;
  }

  .rules {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}


@media (min-width: $desktop-width) {
  .feedback {
    margin: 0 auto;
    padding: 0;
    padding-bottom: 75px;

    width: 960px;
  }

  .feedback__line {
    width: 960px;
  }

  .feedback-form textarea[type="text"] {
    width: 960px;
    min-height: 160px;
    margin: 0 auto;
  }

  .feedback__contact-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .feedback__contact-info .feedback__item {
    display: flex;
    align-items: center;
  }

  .feedback-form input[type="tel"],
  .feedback-form input[type="email"] {
    margin-top: 10px;
    margin-left: 20px;

    width: 257px;
  }

  .feedback-form label[for="feedback-phone"],
  .feedback-form label[for="feedback-email"] {
    margin-left: 0;
    margin-right: 0;
  }

  .feedback__item .feedback-phone {
    margin-right: 20px;
  }

  .feedback__visited-places {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    width: 960px;
    padding: 0;
  }

  .feedback__button {
    width: 480px;

    font-size: 21px;
  }
}
