footer {
  // margin-top: 40px;
  margin-bottom: 10px;

  text-align: center;
}

.instagram_href a {
  font-size: 21px;
  font-weight: bold;
  text-decoration: none;
}

.instagram_href a:hover {
  color: #d6d6d6;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 320px;
  margin: 30px auto;
  padding: 0;

  list-style: none;
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  margin: 0 4px;

  width: 46px;
  height: 46px;

  background-color: #81b3d2;

  &:hover,
  &:focus {
    background-color: #669dbb;
  }

  &:active {
    background-color: #5496bd;
  }

  &:hover path,
  &:focus path {
    fill: #ffffff;
  }

  &:active path {
    fill: rgba(255, 255, 255, 0.3);
  }
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 40px;
}

.copyright .text {
  margin-right: 10px;
  padding: 0;
}

.copyright-icon:hover path,
.copyright-icon:focus path {
  fill: #82b3d3;
}

.copyright-icon:active path {
  fill: #b5b5b5;
}

@media (min-width: $tablet-width) {
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 648px;

    margin: auto;
    padding: 0;
  }

  .copyright {
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  footer {
    width: 960px;
  }
}
