.page-header {
  min-width: 320px;
  min-height: 445px;

  background-color: #ffffff;
}

.page-header__logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 102px;
  height: 83px;
  repeat: no-repeat;
}

.site-page-image {
  padding-top: 55px;
  background-position: center;
  background-repeat: no-repeat;
}
