.header {
  background-color: #ffffff;
  width: 100%;
}
//
// .header__logo {
//   position: absolute;
//   bottom: -83px;
//   left: 50%;
//   margin-left: -50px;
//
//   z-index: 2;
//   background-color: transparent;
// }

.header__logo {
  position: absolute;
  bottom: -41px;
  left: 50%;
  margin-left: -25px;

  z-index: 2;
  background-color: transparent;
}

@media (min-width: $tablet-width) {
  .header__logo {
    top: 0;
    margin: 0;
    margin-left: -25px;
  }
}
