.booking-main {
  padding-top: 30px;
  padding-bottom: 50px;

  text-align: center;
}

.booking-main h2 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  text-align: center;
}

.button {
  display: inline-block;
  min-width: 280px;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 16px 30px;

  font: inherit;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.map-main {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
