.page-footer {
  text-align: center;
}

.page-footer__instagram {
  font-size: 21px;
  font-weight: bold;
}

.social__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 320px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.copyright__text {
  font-size: 14px;
  font-weight: 200;
}
