.description {
  position: relative;
  margin-top: 45px;
}

.description .wrap {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  margin: 0 auto;

  width: 280px;
}

.description__triangle {
  position: absolute;

  left: 50%;
  margin-left: -160px;
  bottom: 0;

  background-color: #81b3d2;
}

@media (min-width: $tablet-width) {
  .description .wrap {
    width: 510px;
  }

  .description h3 {
    padding-top: 50px;

    font-size: 21px;
    line-height: 26px;
  }

  .description__triangle {
    display: none;
  }
}
