.page-desc {
  margin: 0;
  padding: 0;

  min-width: 320px;
}

.page-desc__description h2 {
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 40px;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  text-align: center;
}

.page-desc__description p {
  margin-right: 20px;
  margin-left: 20px;
  padding-bottom: 20px;
  text-align: center;
}
