.description {
  position: relative;
  margin-top: 10px;
}

.description .wrap {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  margin: 0 auto;

  width: 280px;
}

.description .text {
  margin-top: 10px;
  margin-bottom: 20px;
}

.description__triangle {
  position: absolute;

  left: 50%;
  margin-left: -160px;
  bottom: 0;

  background-color: #81b3d2;
}

@media (min-width: $tablet-width) {
  .description .wrap {
    width: 500px;
  }

  .description h3 {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 26px;
  }

  .description--main h3 {
    font-size: 21px;
  }

  .description--photo .wrap {
    margin-bottom: 50px;
  }

  .description__triangle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .description--form .wrap {
    width: 450px;
    margin-bottom: 40px;
  }
}
