.photos {
  padding: 0;
  margin: 0;
}

.photo-block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;

  justify-content: flex-start;

  margin: 25px auto;
  margin-bottom: 0;
  width: 280px;
}

.photo-block h4 {
  padding-top: 15px;
}

.photos__image {
  position: relative;
  width: 280px;
  height: 280px;
  overflow: hidden;
}

.photos__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.photos-item .text {
  padding-bottom: 10px;
  text-align: left;

  text-transform: none;
}

.like-photo {
  display: flex;
}

.like-photo .text {
  font-weight: 700;
  margin-left: 10px;
}

.photos-line {
  margin: 0;
  padding: 0;

  height: 1px;
  width: 100%;
  background-color: #e5e5e5;
  border: 0;
}


@media (min-width: $tablet-width) {
  .photos {
    width: 648px;
    margin: 0 auto;
    padding: 0;
  }

  .photos .wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .photo-block {
    background-color: #f2f2f2;
    margin: 0;
    min-height: 347px;

    &:hover {
      background-color: #eaeaea;
    }
  }

  .photo-block:last-child {
    width: 50%;
  }

  .photos__image {
    position: relative;
    width: 324px;
    height: 267px;
    overflow: hidden;
  }

  .photos__image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .photo-block--first_photo {
    width: 648px;
    height: 480px;
  }

  .photos__image--first_photo {
    width: 648px;
    height: 400px;
  }

  .photos-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 80px;
    margin-left: 20px;
    margin-right: 30px;
  }

  .photo-sig h4 {
    padding: 0;
    margin: 0;
  }

  .photos-line {
    display: none;
  }
}


@media (min-width: $desktop-width) {
  .photos {
    width: 1200px;
  }

  .photos .wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;

    width: 1200px;
  }

  .photo-block {
    position: relative;
    min-height: 267px;
  }

  .photos-item {
    position: absolute;
    bottom: 0;
    width: calc(100% - 40px);
    height: 80px;

    margin: 0;
    padding-left: 20px;
    padding-right: 20px;

    background-color: rgba(0, 0, 0, 0.3);
  }

  .photos-item h4,
  .photos-item .text {
    color: #ffffff;
  }

  .photos__like-icon path {
    fill: #ffffff
  }

  .photos__image {
    position: relative;
    width: 400px;
    height: 267px;
    overflow: hidden;
  }

  .photos__image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .photo-block--first_photo {
    width: 1200px;
    height: 400px;
  }

  .photos__image--first_photo {
    width: 1200px;
    height: 400px;
  }
}
