.photos {
  padding: 0;
  margin: 0;
}

.photo-block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;

  justify-content: flex-start;

  margin: 25px auto;
  width: 280px;
}

.photos-item .text {
  text-align: left;

  text-transform: none;
}

.like-photo {
  display: flex;
  // align-items: center;
}

.Like-icon path {
  fill: rgba(0, 0, 0, 0.3);
}

.like-photo .text {
  font-weight: 700;
  margin-left: 10px;
}

.photos-line {
  margin: 0;
  padding: 0;

  height: 1px;
  width: 100%;
  background-color: #e5e5e5;
  border: 0;
}


@media (min-width: $tablet-width) {
  .photos {
    width: 648px;
    margin: 0 auto;
    padding: 0;
  }

  .wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
  }

  .photo-block {
    background-color: #f2f2f2;
    margin: 0;
    min-height: 347px;


    &:hover {
      background-color: #eaeaea;
    }
  }

  .photo-block .first {
    // display: block;
    width: 648px;
    height: 480px;
  }

  .photos-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    // flex-grow: 1;

    height: 80px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .photos__image {
    width: 324px;
    height: 267px;
  }

  .photo-sig h4 {
    padding: 0;
    margin: 0;
  }

  .photos-line {
    display: none;
  }
}


@media (min-width: $desktop-width) {
  .photos {
    width: 1200px;
  }

  .wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;

    width: 1200px;
  }

  // .photo-block .first {
  //   // display: block;
  //   width: 648px;
  //   height: 480px;
  // }

  .photo-block {
    position: relative;

    height: 400px;
  }

  .photos-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    bottom: 0;

    width: 400px;
    height: 80px;

    margin: 0;
    padding-left: 20px;
    padding-right: 20px;

    background-color: rgba(0, 0, 0, 0.3);
  }

  .photos__image {
    width: 400px;
    height: 267px;
  }
}
