@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2**") format("woff2"),
       url("../fonts/ptsans.woff**") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2**") format("woff2"),
       url("../fonts/ptsans.woff2**") format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
}

h2,
h3,
h4,
a,
button,
.text {
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-size: 21px;
  line-height: 26px;

  margin: 0;
  padding-top: 20px;
  padding-bottom: 5px;
}

h3 {
  font-size: 18px;
  line-height: 26px;

  padding-top: 10px;
}

h4 {
  font-size: 14px;
  line-height: 24px;

  margin: 0;
  padding: 0;
  padding-top: 20px;

  text-align: left;
}

.text {
  font-size: 14px;
  line-height: 23px;
  color: #333333;
}

.hidden:not(:focus):not(:active),
input[type="checkbox"].hidden,
input[type="radio"].hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;

@media (min-width: $desktop-width) {
  body {
    width: 1200px;
    position: relative;

    &:before,
    &:after {
      content: " ";
      position: absolute;
      z-index: -1;
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}

@import "outlines.scss";

/* общие блоки на всех страницах */
@import "header.scss";
@import "nav.scss";
@import "page-description.scss";
@import "footer.scss";
@import "map-section.scss";
// @import "button.scss";

/* блоки на главаной */
@import "banner_main.scss";
@import "advantages.scss";
@import "booking_main.scss";

/* общие блоки на внутренних */
@import "banner_inner_pages.scss";

/* блоки на странице "Фото и видео" */
@import "photos-section.scss";
@import "video-section.scss";

/* блоки на странице "Отзывы" */
@import "feedback-form.scss";
