.video {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 35px;
  padding-bottom: 80px;
}

.video h2,
p {
  padding-top: 0;
  padding-bottom: 25px;

  text-align: center;
}

video {
  display: block;
  margin: auto;
  padding: auto;
}
